@charset "utf-8";
h1 {
	color: #800303;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 60px;
}
p {
	color: #7C0808;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


body {
	background-color: #19E0F1;
	color: #19E0F1;
	text-align: left;
}
#banner {
	position: relative;
}
#info {
	float: right;
	background-color: #0AF96A;
	color: #D34254;
	width: 553px;
	height: 628px;
	font-size: 16px;
}

#nav {
	position: relative;
	float: left;
	text-align: left;
}
#nav table  {
	background-color: #F3060A;
	color: #320809;
}
a   {
	color: #0D26EF;
	text-align: left;
}
#nav th:hover {
	background-color: #A71E2F;
}
#info2 {
	float: right;
	background-color: #0AF96A;
	color: #D34254;
	width: 553px;
	height: 343px;
	font-size: 16px;
}
.Smile {
	width: 320px;
	height: 281px;
}
